<div class="jumbotron">
  <h1><%=@loo.bname%></h1>
  <p id="count"><%=((@loo.bok+@loo.chung+@loo.bun)/3).round(1)%> 점 (<%=@loo.comments.count%> 명)</p>

  <%=form_tag "/loos/ev", method: "post" do %>
    <input type="hidden" name="id" value="<%=@loo.id%>">
    <h1>복잡도</h1>
    <span class="star-rating">
      <input type="radio" name="rating" value="1"><i></i>
      <input type="radio" name="rating" value="2"><i></i>
      <input type="radio" name="rating" value="3"><i></i>
      <input type="radio" name="rating" value="4"><i></i>
      <input type="radio" name="rating" value="5"><i></i>
    </span><br>
    <h1>청결도</h1>
    <span class="star-rating">
      <input type="radio" name="rating2" value="1"><i></i>
      <input type="radio" name="rating2" value="2"><i></i>
      <input type="radio" name="rating2" value="3"><i></i>
      <input type="radio" name="rating2" value="4"><i></i>
      <input type="radio" name="rating2" value="5"><i></i>
    </span><br>
    <h1>분위기</h1>
    <span class="star-rating">
      <input type="radio" name="rating3" value="1"><i></i>
      <input type="radio" name="rating3" value="2"><i></i>
      <input type="radio" name="rating3" value="3"><i></i>
      <input type="radio" name="rating3" value="4"><i></i>
      <input type="radio" name="rating3" value="5"><i></i>
    </span><br><br>
    <input type='hidden' name='bidet' value='0'>
    <input type='checkbox' name='bidet' value='1'>비데를 사용했으면 체크하세요<br>
    <input type='integer' name='floor' placeholder='?' size='2'>층

    <br><br>

    <textarea class="form-control" name="msg" placeholder="별점 체크 후 평가를 남겨주세요" style='resize:none;'></textarea>
    <br>

    <button class="btn btn-success" href="#" role="button" onclick="button()">평가하기</button>
    <a href='/loos/<%=@loo.id %>' class='btn btn-warning'>뒤로가기</a>

  <% end %>

</div>
