<div class="jumbotron">
  <h1><%=@loo.location%></h1>
  <p id="count"><%=((@loo.bok+@loo.chung+@loo.bun)/3).round(2)%> 점 (<%=@loo.comments.count%> 명)</p>
  전체 평점
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == ((@loo.bok+@loo.chung+@loo.bun)/3).round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span><br>
  복잡도
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == @loo.bok.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span><br>
  청결도
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == @loo.chung.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span><br>
  분위기
  <span class="star-rating">
    <% 1.upto(5) do |i| %>
      <% if i == @loo.bun.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>


    <br>
  <a href='/home/rating/<%=@loo.id %>' class='btn btn-success'>평가하기</a>
  <a href='/home' class='btn btn-warning'>뒤로가기</a>


</div>

<div class="row">
  <div class="col-lg-12">
    <% @loo.comments.reverse.each do |c| %>
      <div class="well">
        <span class="star-rating small">
          <% 1.upto(5) do |i| %>
            <% if i == (c.bok+c.chung+c.bun)/3 %>
              <i class="on"></i>
            <% else %>
              <i></i>
            <% end %>
          <% end %>
        </span>
        
        <%=c.created_at.in_time_zone("Seoul").strftime('%F %T에 작성')%>
        <%if c.bidet==1%>
          <p class='text-info'><비데 사용자></p>
        <% end %>
        <p><%=c.comment%></p>
      </div>
    <% end %>

  </div>
</div>

