<div class="jumbotron">
  <div class="row">
  <h1><%=@building.bname%></h1>
  <p id="count"><%=((@building.bok+@building.chung+@building.bun)/3).round(2)%> 점 (<%=@building.comments.count%> 명)</p>
  <div class="col-sm-7 col-sm-offset-3" style="margin-bottom: 20px;">
    <div style="height:40px;">
    <div style="width: 25%; float: left; vertical-align: middle; line-height: 40px;">
  전체 평점
  </div>
  <div style="width: 75%; float: left;">
  <span class="star-rating md">
    <% 1.upto(5) do |i| %>
      <% if i == ((@building.bok+@building.chung+@building.bun)/3).round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  </div>
  </div>
  <div style="width:100%; height: 1px; background-color: lightgray; margin: 3px 0 10px 0">&nbsp;</div>
  <div style="height:40px;">
  <div style="width:25%; float: left; height: 40px; line-height: 40px;">
  복잡도 
  </div>
  <div style="width: 75%; float: left; height: 40px;">
  <span class="star-rating md">
    <% 1.upto(5) do |i| %>
      <% if i == @building.bok.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  </div>
  </div>
  <div style="height:40px;">
  <div style="width:25%; float: left; height: 40px; line-height: 40px;">  
  청결도
  </div>
  <div style="width: 75%; float: left; height: 40px;">
  <span class="star-rating md">
    <% 1.upto(5) do |i| %>
      <% if i == @building.chung.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  </div>
  </div>
  <div style="height:40px;">
  <div style="width:25%; float: left; height: 40px; line-height: 40px;"> 
  분위기
  </div>
  <div style="width: 75%; float: left; height: 40px;">
  <span class="star-rating md">
    <% 1.upto(5) do |i| %>
      <% if i == @building.bun.round(0) %>
        <i class="on"></i>
      <% else %>
        <i></i>
      <% end %>
    <% end %>
  </span>
  </div>
  </div>
  <% p=0%>
  <% @building.comments.each do |c| %>
    <% p+= c.bidet %>
  <% end %>
  <% if p!=0%>
    <p class= text-info>비데가 사용된 적 있는 화장실입니다.</p>
  <% end %>
  
  
  </div>
  <a href='/buildings/rating/<%=@building.id %>' class='btn btn-success'>평가하기</a>
  <a href='/buildings' class='btn btn-warning'>뒤로가기</a>

  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <% @building.comments.reverse.each do |c| %>
      <div class="well">
        <span class="star-rating small">
          <% 1.upto(5) do |i| %>
            <% if i == (c.bok+c.chung+c.bun)/3 %>
              <i class="on"></i>
            <% else %>
              <i></i>
            <% end %>
          <% end %>
        </span>
        <br>
        <%=c.created_at.in_time_zone("Seoul").strftime('%F %T에 작성')%>
        <p class='text-warning'><<%='사용한 곳: '+c.floor+'층'%>></p>
        <%if c.bidet==1%>
        <p class='text-info'><비데 사용자></p>
        <% end %>
        <p><%=c.comment%></p>
      </div>
    <% end %>

  </div>
</div>

